@model IEnumerable<asp.net_MVC.Models.Pet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.petNmae)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.petTypes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.missingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.petNmae)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.petTypes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.missingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.discription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.petId }) |
            @Html.ActionLink("Details", "Details", new { id=item.petId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.petId })
        </td>
    </tr>
}

</table>
