@model PagedList.IPagedList<asp.net_MVC.Models.Pet>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Looking for a lost pet?";
}

<h2>Lists of Pets</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Pet", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Pet Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })

        </th>
        <th>
            Pet Type
        </th>
        <th>
            @Html.ActionLink("Missing Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Description
        </th>
        <th>
            Reward
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.petName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.petTypes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.missingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reward)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.petId }) |
                @Html.ActionLink("Details", "Details", new { id = item.petId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.petId })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))